<% if signed_in? %>
    <div class="row">
     <%= render 'shared/side' %>
    </div>
<% else %>
    <div class="center hero-unit">
      <%=render 'shared/welcome'%>
    </div>

    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>