<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="pagination">
  <div class="pagination">
    <%= will_paginate %>
  </div>
  </div>

<ul class="users">
  <%=render @users %>
</ul>
<div class="pagination">
  <%= will_paginate %>
    </div>
